body {
    font-family: 'Product Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: black;
    text-align: center;
    padding: 20px;
}

nav a {
    color: yellow;
    text-decoration: none;

}

.content {
    background-color: white;
    color: #333;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.social-icons {
    list-style-type: none;
    padding: 0;
}

.social-icons li {
    display: inline;
    margin-right: 10px;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555;
}

.error {
    color: red;
    font-size: 14px;
}
.fakeimg {
    height: 200px;
    background: #aaa;
  }